<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<!-- Page Class company::csr::Portal::Page::Jobs -->

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>7231 - Head Custodian x3 (Caernarfon, Conwy &amp; Harlech) - Civil Service Jobs - GOV.UK</title>
		<meta name="author" content="WCN" />
		<meta name="description" content="Search and apply for opportunities within the Civil Service." />
		<meta
			name="keywords"
			content="7231 Head Custodian x3 Caernarfon Conwy Harlech Search and apply for opportunities within the Civil Service "
		/>

		<link rel="stylesheet" type="text/css" media="all" href="../css/main.css" />
		<link rel="stylesheet" type="text/css" media="all" href="../css/csrportal3.css" />
		<!-- <link rel="stylesheet" type="text/css" media="print" href="../css/print.css"> -->
		<link rel="stylesheet" type="text/css" media="all" href="../css/chosen.css" />
		<!--<link rel="stylesheet" type="text/css" media="all" href="../css/locationsearch.css"> -->

		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/csrportal.js"></script>
		<script type="text/javascript" src="../js/chosen.js"></script>
		<!-- <script type="text/javascript" src="../js/selection-buttons.js"></script>-->
		<!-- <script type="text/javascript" src="../js/locationsearch.js"></script>  -->

		<script type="text/javascript">
			(function () {
				if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
					var d = document,
						c = 'appendChild',
						a = d.createElement('style');
					a[c](d.createTextNode('@-ms-viewport{width:auto!important}'));
					d.getElementsByTagName('head')[0][c](a);
				}
			})();
		</script>

		<link href="../css/govuk-template.css" media="screen" rel="stylesheet" type="text/css" />

		<link href="../css/govuk-template-print.css" media="print" rel="stylesheet" type="text/css" />

		<link href="../css/govuk-template-override.css" media="screen" rel="stylesheet" type="text/css" />

		<link href="../css/fonts.css" media="all" rel="stylesheet" type="text/css" />

		<link rel="shortcut icon" href="../img/favicon.ico?0.12.0" type="image/x-icon" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:image" content="https://devstatic.wcn.co.uk/csr/assets/images/opengraph-image.png?0.12.0" />
		<meta name="msvalidate.01" content="3347F54245AFA5428DFECD3EE5542DE9" />
		<meta name="google-site-verification" content="nTU3b1xGaUEl5dvrPXjh2gOK1vGJFWWNDMFCV9DzgeM" />

		<style type="text/css">
			#header2 {
				margin-bottom: 0;
			}
		</style>
	</head>
	<body class="js-enabled js-enabled">
		<noscript><p class="hidden">You do not need Javascript to be able to use this page.</p></noscript>
		<!-- <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script> -->

		<!-- PAGE HEADER -->
		<div class="skip-container">
			<div id="skip">
				<a href="#startcontent" title="Skip to main content" accesskey="s"
					><img src="../img/zeroid.gif" alt="Skip to main content" title="Skip to main content" width="0" height="0" />Skip to
					main content</a
				>
			</div>
		</div>
		<div id="header">
			<header role="banner" id="global-header">
				<div class="header-wrapper">
					<div class="header-global">
						<ul>
							<li class="header-logo-li">
								<div class="header-logo">
									<a href="#" title="Go to the gov.uk homepage" id="logo" class="content" target="_blank">
										<img src="../img/gov.png" alt="GOV.UK" />GOV.UK</a
									>
								</div>
							</li>
							<li>
								<div class="header-title"><a href="#" id="proposition-name">Civil Service Jobs</a></div>
							</li>
						</ul>
					</div>
					<a href="#"><button class="csr-portal-button csr-portal-button-welsh">Cymraeg</button></a>
					<!-- <a href="#"><button class="csr-portal-button csr-portal-button-welsh" >
          English
        </button></a> -->
					<!-- TODO - switch depending on language -->
				</div>
			</header>

			<!--end header-->

			<div id="global-header-bar">
				<div class="inner-block">
					<div class="header-bar"></div>
				</div>
			</div>
			<!--end global-header-bar-->

			<!-- beta banner -->
			<div class="csr-portal-standard-container beta-banner2">
				<strong class="beta__label">Beta</strong> <span> Your <a href="#">feedback</a> will help us to improve. </span>
			</div>
			<!-- end beta banner -->
		</div>
		<div class="topnavmenu csr-portal-standard-container">
			<ul>
				<li>
					<a href="#" title="Search for jobs">Home</a>
					<ul></ul>
				</li>
				<li>
					<a href="#" title="Sign in or create an account">Sign in / create an account</a>
					<ul></ul>
				</li>
			</ul>
		</div>
		<!-- END of PAGE HEADER -->

		<div style="clear: both">&nbsp;</div>
		<div class="csr-portal-standard-container">
			<div class="vac_display_title_block">
				<div class="csr-page-title">
					<a
						name="startcontent"
						href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?SID=c2VhcmNoX3NsaWNlX2N1cnJlbnQ9MSZ1c2Vyc2VhcmNoY29udGV4dD0xNDIyNjExNjEmam9ibGlzdF92aWV3X3ZhYz0xNzU3NDA3Jm93bmVyPTUwNzAwMDAmb3duZXJ0eXBlPWZhaXImY3NvdXJjZT1jc3FzZWFyY2gmcGFnZWNsYXNzPUpvYnMmcGFnZWFjdGlvbj12aWV3dmFjYnlqb2JsaXN0JnJlcXNpZz0xNjM3NTc5MjAzLWViM2QyZGEwMzFiZWY2ZTc5NjQ2YmI3YWJlZjMwZDM1NDU4NDNlOTA="
					></a>
					<h1>7231 - Head Custodian x3 (Caernarfon, Conwy &amp; Harlech)</h1>
				</div>
				<p class="csr-page-subtitle">Welsh Government</p>
				<p class="vac_display_closing_date">Apply before 4:00 pm on Monday 6th December 2021</p>
				<div>&nbsp;</div>
			</div>
			<div class="vac_display_logo_block">
				<div class="vac_display_return_link">
					<a
						href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?SID=cGFnZWNsYXNzPUpvYnMmYnJhbmRfaWQ9MCZwYWdlYWN0aW9uPXNlYXJjaGJ5Y29udGV4dGlkJm93bmVydHlwZT1mYWlyJm93bmVyPTUwNzAwMDAmdXNlcnNlYXJjaGNvbnRleHQ9MTQyMjYxMTYxJnNlYXNvbj0wJnJlcXNpZz0xNjM3NTc5NTI1LTJiZjhjNzNlMmZiODdmOTY3Njc1NDZmMDIzMzU2NDViMTQzZDczZTY="
						title="Return to search results"
						>Return to search results</a
					>
				</div>
				<div class="vac_display_logo"><img alt="Logo" src="../img/184001.gif" /></div>
				<div class="vac_display_apply vac_display_apply_external">
					<a
						href="https://cymru-wales.tal.net/vx/lang-en-GB/mobile-0/appcentre-1/brand-2/xf-0a25419ec886/candidate/so/pm/1/pl/6/opp/7231-Head-Custodian-x3-Caernarfon-Conwy-Harlech/en-GB"
						title="Apply at advertiser&#39;s site"
						onclick="sendSimpleGAEvent(&#39;Apply Now&#39;, &#39;Apply Now Click&#39;, &#39;Apply Now External&#39;); return true;"
						>Apply at advertiser's site</a
					>
				</div>
			</div>
			<div class="clearBoth"></div>
			<div class="vac_display_panel_side">
				<div class="vac_display_panel_side_inner">
					<div class="vac_display_field">
						<h3>Reference number</h3>
						<div class="vac_display_field_value">165615</div>
					</div>
					<div class="vac_display_field">
						<h3>Salary</h3>
						<div class="vac_display_field_value">£25,860 - £29,430</div>
					</div>
					<div class="vac_display_field"><div class="vac_display_field_value">Starting Salary £25,860</div></div>
					<div class="vac_display_field">
						<h3>Grade</h3>
						<div class="vac_display_nullclass"><div class="vac_display_field_value">Executive Officer</div></div>
					</div>
					<div class="vac_display_field">
						<h3>Contract type</h3>
						<div class="vac_display_field_value">Permanent</div>
					</div>
					<div class="vac_display_field">
						<h3>Business area</h3>
						<div class="vac_display_field_value">WG - Economy, Skills and Natural Resources</div>
					</div>
					<div class="vac_display_field">
						<h3>Type of role</h3>
						<div class="vac_display_field_value">Other</div>
					</div>
					<div class="vac_display_field">
						<h3>Working pattern</h3>
						<div class="vac_display_field_value">Full-time</div>
					</div>
					<div class="vac_display_field">
						<h3>Number of posts</h3>
						<div class="vac_display_field_value">3</div>
					</div>
				</div>
			</div>
			<div class="vac_display_panel_main">
				<div class="vac_display_panel_main_inner">
					<div class="vac_display_section_heading"><h3>Location</h3></div>
					<div class="vac_display_field"><div class="vac_display_field_value">Caernarfon, Conwy, Harlech</div></div>
					<div class="vac_display_section_heading"><h3>About the job</h3></div>
					<div class="vac_display_field">
						<h3>Summary</h3>
						<div class="vac_display_field_value">
							Cadw's objectives include providing a world class visitor experience at our properties in care, increasing
							commercial performance through maximising the use of our monuments and increasing the benefits to communities by
							creating more opportunities for people to enjoy, learn about and take part in heritage activities. We also have a
							role in increasing awareness and enjoyment of the wider historic environment, and the need to care for it, for the
							well-being of present and future generations.
							<br />
							<br />These posts will lead a team of custodians and ensure efficient operational management of their teams and
							sites, They will also deliver excellent standards of customer service, while providing the highest possible levels
							of visitor safety, protection for their monument and wellbeing for their teams. The role holders will also develop
							the business growth of their sites and grow community engagement and maximise the impact of their site on the local
							economy, utilising the support of other Cadw teams to help facilitate this.
						</div>
					</div>
					<div class="vac_display_field">
						<h3>Job description</h3>
						<div class="vac_display_field_value">
							Cadw's objectives include providing a world class visitor experience at our properties in care, increasing
							commercial performance through maximising the use of our monuments and increasing the benefits to communities by
							creating more opportunities for people to enjoy, learn about and take part in heritage activities. We also have a
							role in increasing awareness and enjoyment of the wider historic environment, and the need to care for it, for the
							well-being of present and future generations.
							<br />
							<br />These posts will lead a team of custodians and ensure efficient operational management of their teams and
							sites, They will also deliver excellent standards of customer service, while providing the highest possible levels
							of visitor safety, protection for their monument and wellbeing for their teams. The role holders will also develop
							the business growth of their sites and grow community engagement and maximise the impact of their site on the local
							economy, utilising the support of other Cadw teams to help facilitate this.<br /><br />
							<h3>Responsibilities</h3>
							Managing a safe, presentable and accessible site for visitors while ensuring protection of their monument.
							<br />
							<br />Coordinating their team and volunteers so that visitors to the site receive a warm and bilingual welcome and a
							consistently high standard of customer service.
							<br />
							<br />Providing an efficient response to customer enquiries and ensuring complaints are investigated and lessons
							learned and communicated to their team.
							<br />
							<br />Ensuring that safety of visitor and staff is a top priority, risk assessments are continually reviewed and any
							incidents are investigated and mitigation put in place to avoid repeat.
							<br />
							<br />Managing the performance of their teams and instilling a commitment to delivering excellent customer service
							and delivering Welsh Government / Cadw policy.
							<br />
							<br />Ensure that they provide a safe workplace for their teams and that their wellbeing is protected and any
							unacceptable behaviours are addressed.
							<br />
							<br />Ensuring mandatory and job specific training is undertaken, additional training and development needs
							identified, and learning outcomes applied in the workplace.
							<br />
							<br />Managing resources effectively and working within budget, while maintaining safety and visitor service
							standards.
							<br />
							<br />Developing a network of local contacts with tourism and heritage bodies and local businesses. Representing
							Cadw at local events and providing a contact for local stakeholders.
							<br />
							<br />Working with Lifelong Learning and Events teams to develop and deliver an effective custodian-led and 3rd
							party managed events programme.
							<br />
							<br />Develop a proactive strategy for their site to recruit and retain volunteers.
							<br />
							<br />Acting as site lead contact for site hire, media visits and attending special outreach events and shows.
							<br />
							<br />Maintaining accurate records and ensuring financial procedures are undertaken as specified in the Welsh
							Government cash and accounting regulations, including completing monthly monument returns and implementing audit and
							governance guidance.
							<br />
							<br />Developing retail and commercial income for their site and ensuring that the retail area is attractively
							presented and appropriately stocked.
						</div>
					</div>
					<div class="vac_display_section_heading"><h3>Benefits</h3></div>
					<div class="vac_display_field">
						<div class="vac_display_field_value">
							• Learning and development tailored to your role <br />•An environment with flexible working options <br />• A
							culture encouraging inclusion and diversity <br />• A Civil Service pension
						</div>
					</div>
					<div class="vac_display_section_heading"><h3>Things you need to know</h3></div>
					<div class="vac_display_field">
						<h3>Security</h3>
						<div class="vac_display_field">
							<div class="vac_display_field_value">Successful candidates must pass a disclosure and barring security check.</div>
						</div>
						<div class="vac_display_field">
							<div class="vac_display_field_value">
								People working with government assets must complete
								<a
									href="https://www.gov.uk/government/publications/government-baseline-personnel-security-standard"
									rel="external"
									onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;Security&#39;, &#39;click&#39;, &#39;Security guidance&#39;);"
									target="_blank"
									>basic personnel security standard</a
								>
								checks.
							</div>
						</div>
					</div>
					<div class="vac_display_field">
						<h3>Selection process details</h3>
						<div class="vac_display_nullclass">
							<div class="vac_display_field_value">
								Applications will be sifted and candidates who are successful at sift will then be invited to a virtual interview
								via Microsoft Teams.<br /><br />Feedback will only be provided if you attend an interview or assessment.
							</div>
						</div>
					</div>
					<div class="vac_display_field">
						<h3>Nationality requirements</h3>
						<div class="vac_display_field_value">
							<div class="csr-standard-message">
								<p>This job is broadly open to the following groups:</p>

								<ul>
									<li>UK nationals</li>
									<li>nationals of Commonwealth countries who have the right to work in the UK</li>
									<li>nationals of the Republic of Ireland</li>
									<li>
										nationals from the EU, EEA or Switzerland with settled or pre-settled status or who apply for either status by
										the deadline of the
										<a target="_blank" href="https://www.gov.uk/settled-status-eu-citizens-families" rel="external"
											>European Union Settlement Scheme (EUSS)</a
										>
									</li>
									<li>relevant EU, EEA, Swiss or Turkish nationals working in the Civil Service</li>
									<li>relevant EU, EEA, Swiss or Turkish nationals who have built up the right to work in the Civil Service</li>
									<li>certain family members of the relevant EU, EEA, Swiss or Turkish nationals</li>
								</ul>

								<a href="https://www.gov.uk/government/publications/nationality-rules" rel="external" target="_blank"
									>Further information on nationality requirements</a
								>
							</div>
						</div>
					</div>
					<div class="vac_display_field">
						<h3>Working for the Civil Service</h3>
						<div class="vac_display_field">
							<div class="vac_display_field_value">
								The
								<a href="http://civilservicecommission.independent.gov.uk/code/" rel="external" target="_blank"
									>Civil Service Code</a
								>
								sets out the standards of behaviour expected of civil servants.<br /><br />We recruit by merit on the basis of
								fair and open competition, as outlined in the Civil Service Commission's
								<a
									href="https://civilservicecommission.independent.gov.uk/recruitment/recruitment-principles/"
									rel="external"
									target="_blank"
									>recruitment principles</a
								>.
							</div>
						</div>
						<div class="vac_display_field">
							<div class="vac_display_field_value">
								The Civil Service embraces diversity and promotes equal opportunities. As such, we run a Disability Confident
								Scheme (DCS) for candidates with disabilities who meet the minimum selection criteria.
							</div>
						</div>
					</div>
					<div class="vac_display_section_heading"><h3>Apply and further information</h3></div>
					<div class="vac_display_field">
						<div class="vac_display_field_value">
							Once this job has closed, the job advert will no longer be available. You may want to save a copy for your records.
						</div>
					</div>
					<div class="vac_display_field">
						<h3>Contact point for applicants</h3>
						<div class="vac_display_field_value">
							<table>
								<tbody>
									<tr>
										<td
											colspan="3"
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 5px;
											"
										>
											Job contact :
										</td>
									</tr>
									<tr>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											Name :
										</td>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											&nbsp;
										</td>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											Huw Gwillim
										</td>
									</tr>
									<tr>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											Email :
										</td>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											&nbsp;
										</td>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											huw.gwillim@gov.wales
										</td>
									</tr>
									<tr>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											Telephone :
										</td>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											&nbsp;
										</td>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											0300 062 2376
										</td>
									</tr>
									<tr>
										<td
											colspan="3"
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											&nbsp;
										</td>
									</tr>
									<tr>
										<td
											colspan="3"
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 5px;
											"
										>
											Recruitment team :
										</td>
									</tr>
									<tr>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											Email :
										</td>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											&nbsp;
										</td>
										<td
											style="
												border-bottom: 0px;
												border-right: 0px;
												border-left: 0px;
												border-top: 0px;
												padding-top: 0px;
												padding-left: 0px;
												padding-right: 0px;
												padding-bottom: 0px;
											"
										>
											SharedServiceHelpdesk@gov.wales
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="vac_display_apply vac_display_apply_external">
						<a
							href="https://cymru-wales.tal.net/vx/lang-en-GB/mobile-0/appcentre-1/brand-2/xf-0a25419ec886/candidate/so/pm/1/pl/6/opp/7231-Head-Custodian-x3-Caernarfon-Conwy-Harlech/en-GB"
							onclick="sendSimpleGAEvent(&#39;Apply Now&#39;, &#39;Apply Now Click&#39;, &#39;Apply Now External&#39;); return true;"
							title="Apply at advertiser&#39;s site"
							>Apply at advertiser's site</a
						>
					</div>
					<div class="some_new_classname">
						<div class="icons-buttons noprint">
							<h3>Share this page</h3>
							<ul>
								<li style="" id="print_button">
									<a
										class="print"
										onclick="sendSimpleGAEvent(&#39;Share this&#39;, &#39;Click&#39;, &#39;Print&#39;); window.print(); return false;"
										href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?SID=c2VhcmNoX3NsaWNlX2N1cnJlbnQ9MSZ1c2Vyc2VhcmNoY29udGV4dD0xNDIyNjExNjEmam9ibGlzdF92aWV3X3ZhYz0xNzU3NDA3Jm93bmVyPTUwNzAwMDAmb3duZXJ0eXBlPWZhaXImY3NvdXJjZT1jc3FzZWFyY2gmcGFnZWNsYXNzPUpvYnMmcGFnZWFjdGlvbj12aWV3dmFjYnlqb2JsaXN0JnJlcXNpZz0xNjM3NTc5MjAzLWViM2QyZGEwMzFiZWY2ZTc5NjQ2YmI3YWJlZjMwZDM1NDU4NDNlOTA=#"
										>Print</a
									>
									<script type="text/javascript">
										$(document).ready(function () {
											$('#print_button').show();
										});
									</script>
								</li>
								<li>
									<a
										href="mailto:?subject=I%20would%20like%20to%20share%207231%20-%20Head%20Custodian%20x3%20%28Caernarfon%2C%20Conwy%20%26%20Harlech%29%20%28reference%20%3A%20165615%29%20with%20you&amp;body=I%20have%20found%20this%20opportunity%20on%20Civil%20Service%20Jobs%20and%20thought%20you%20might%20be%20interested.%0D%0A%0D%0ACheck%20it%20out%20by%20clicking%20https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407.%20%0D%0A%0D%0AIf%20you%20are%20interested%20in%20a%20career%20in%20the%20Civil%20Service%20you%20can%20search%20for%20opportunities%20at%20https%3A%2F%2Fwww.civilservicejobs.service.gov.uk"
										onclick="sendSimpleGAEvent(&#39;Share this&#39;, &#39;Click&#39;, &#39;Email&#39;);"
										class="email"
										>Email</a
									>
								</li>
								<li>
									<a
										class="facebook"
										onclick="sendSimpleGAEvent(&#39;Share this&#39;, &#39;Click&#39;, &#39;Facebook&#39;); window.open(&#39;https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407&#39;,&#39;_blank&#39;); return false;"
										href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407"
										target="_blank"
										>Facebook</a
									>
								</li>
								<li>
									<a
										href="https://twitter.com/intent/tweet?original_referer&amp;url=https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407&amp;text=7231%20-%20Head%20Custodian%20x3%20(Caernarfon,%20Conwy%20&amp;%20Harlech)"
										target="_blank"
										class="twitter"
										onclick="sendSimpleGAEvent(&#39;Share this&#39;, &#39;Click&#39;, &#39;Twitter&#39;);  window.open(&#39;https://twitter.com/intent/tweet?original_referer&amp;url=https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407&amp;text=7231 - Head Custodian x3 (Caernarfon, Conwy &amp; Harlech)&#39;,&#39;_blank&#39;);return false;"
										>Twitter</a
									>
								</li>
								<li>
									<a
										onclick="sendSimpleGAEvent(&#39;Share this&#39;, &#39;Click&#39;, &#39;Linked-in&#39;); window.open(&#39;https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407&#39;,&#39;_blank&#39;); return false;"
										class="linkedin"
										target="_blank"
										href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407"
										>LinkedIn</a
									>
								</li>
								<li>
									<a
										href="https://mail.google.com/mail/u/0/?view=cm&amp;source=mailto&amp;body=I%20have%20found%20this%20opportunity%20on%20Civil%20Service%20Jobs%20and%20thought%20you%20might%20be%20interested.%0D%0A%0D%0ACheck%20it%20out%20by%20clicking%20https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407.%20%0D%0A%0D%0AIf%20you%20are%20interested%20in%20a%20career%20in%20the%20Civil%20Service%20you%20can%20search%20for%20opportunities%20at%20https%3A%2F%2Fwww.civilservicejobs.service.gov.uk&amp;su=I%20would%20like%20to%20share%207231%20-%20Head%20Custodian%20x3%20%28Caernarfon%2C%20Conwy%20%26%20Harlech%29%20%28reference%20%3A%20165615%29%20with%20you"
										target="_blank"
										onclick="sendSimpleGAEvent(&#39;Share this&#39;, &#39;Click&#39;, &#39;Email&#39;);"
										class="gmail"
										>GMail</a
									>
								</li>
								<li>
									<a
										onclick="sendSimpleGAEvent(&#39;Share this&#39;, &#39;Click&#39;, &#39;Google Plus&#39;); window.open(&#39;https://plus.google.com/share?url=https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407&#39;,&#39;_blank&#39;);return false;"
										class="googleplus"
										target="_blank"
										href="https://plus.google.com/share?url=https%3A%2F%2Fwww.civilservicejobs.service.gov.uk%2Fcsr%2Fjobs.cgi%3Fjcode%3D1757407"
										>G+</a
									>
								</li>
							</ul>
							<div class="clearfix">&nbsp;</div>
						</div>
					</div>
					<div class="clear_both">&nbsp;</div>
					<div id="vac_advert_logo_block_standard">
						<div class="cs_commissioners_link">
							<a
								alt="Civil Service Commissioners website (opens in a new window)"
								href="http://civilservicecommission.independent.gov.uk/"
								title="Civil Service Commissioners website (opens in a new window)"
								target="_blank"
								><img
									src="../img/csc_large.png"
									alt="Civil Service Commissioners website (opens in a new window)"
									class="cs_commissioners_logo"
							/></a>
						</div>
						<div class="disability_confident_link">
							<a
								target="_blank"
								title="Disability Confident employer scheme and guidance (opens in a new window)"
								href="https://www.gov.uk/government/collections/disability-confident-campaign"
								alt="Disability Confident employer scheme and guidance (opens in a new window)"
								><img
									class="disability_confident_logo"
									src="../img/dis_conf_leader_large.png"
									alt="Disability Confident employer scheme and guidance (opens in a new window)"
							/></a>
						</div>
					</div>
					<div id="vac_advert_logo_block_mobile">
						<div class="cs_commissioners_link">
							<a
								alt="Civil Service Commissioners website (opens in a new window)"
								href="http://civilservicecommission.independent.gov.uk/"
								title="Civil Service Commissioners website (opens in a new window)"
								target="_blank"
								><img
									src="../img/csc_small.png"
									alt="Civil Service Commissioners website (opens in a new window)"
									class="cs_commissioners_logo"
							/></a>
						</div>
						<div class="disability_confident_link">
							<a
								target="_blank"
								title="Disability Confident employer scheme and guidance (opens in a new window)"
								href="https://www.gov.uk/government/collections/disability-confident-campaign"
								alt="Disability Confident employer scheme and guidance (opens in a new window)"
								><img
									class="disability_confident_logo"
									src="../img/dis_conf_leader_small.png"
									alt="Disability Confident employer scheme and guidance (opens in a new window)"
							/></a>
						</div>
					</div>
				</div>
			</div>
			<div class="clearBoth"></div>
		</div>
		<div class="clear">&nbsp;</div>

		<div id="standard-footer">
			<br />
			<div class="clearBoth">&nbsp;</div>

			<footer class="group js-footer" id="footer" role="contentinfo">
				<div class="footer-wrapper">
					<div class="footer-meta">
						<div class="footer-meta-inner">
							<h2 class="acc_heading">Support Links</h2>
							.
							<ul>
								<li><a href="#">Help</a></li>
								<li><a href="#tandc">Terms and Conditions</a></li>
								<li><a href="#privacy">Privacy Notice</a></li>
								<li><a href="#accessibility">Accessibility Statement</a></li>
								<li><a href="#cookies">Cookies</a></li>
								<li>Built by <a href="https://www.gov.uk/government/organisations/cabinet-office">Cabinet Office</a></li>
							</ul>

							<div class="open-government-licence">
								<p class="logo">
									<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open Government Licence</a>
								</p>
								<p>
									All content is available under the
									<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3"
										>Open Government Licence v3.0</a
									>, except where otherwise stated
								</p>
							</div>
						</div>

						<div class="copyright">
							<a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm"
								>&copy; Crown copyright</a
							>
						</div>
					</div>
				</div>
			</footer>

			<!--end footer-->

			<div id="global-app-error" class="app-error hidden"></div>

			<script src="../js/govuk-template.js" type="text/javascript"></script>
		</div>

		<ul
			class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all"
			id="ui-id-1"
			tabindex="0"
			style="display: none"
		></ul>
	</body>
</html>
